*{
    margin:0;
    padding:0;
    text-align: center;
    font-family:monospace;
}

h1{
    background-color:rgb(183, 255, 1);
    height: 5rem;
    line-height:5rem;
    font-size:30px;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.choice:hover{
    opacity:0.85;
    cursor:pointer;
    background-color: blueviolet;
}
img{
    height: 150px;
    width:150px;
    object-fit:cover;
    border-radius: 50%;
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:5rem;
}

.score-board{
    display:flex;
    justify-content: center;
    align-items:cneter;
    font-size: 3rem;
    margin-top: 3rem;
    gap:5rem;
}

#user-score,
#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top:5rem;
}

#msg{
    background-color:rgb(183, 255, 1);
    color: black;
    font-size: 30px;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 600;

}
#msg:hover{
cursor:pointer;
background-color:rgb(153, 214, 0);
}